.red_large{
  font-size: 180px;
  text-align: center;
  color: red;
}

.oops{
  font-size: 40px;
  text-align: center;  
}

.text{
  font-size: 20px;
  text-align: center;
}

i{
  cursor: pointer;
  color: #12a89d;
}