body {
  font-family: Helvetica, sans-serif;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -80px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 15px;
  /* 15px padding */
  width: 100px;
  /* Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 15px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 0 5px 5px 0;
  font-family: Helvetica, sans-serif;
}

#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}


#Manaager {
  top: 80px;
  background-color: #00A79D;
  /* Blue */
}


.logo-div {
  background-color: #00A79D;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DivImg {
  width: 70%;
  height: auto;
}

/* Set a style for all buttons */
button {
  background-color: #00A79D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  padding-top: 40px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 12% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw ,span.Eml{
    /* display: block; */
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

@media screen and (max-width:1300px){
  .SignUp{
      padding-left: 30%;
    }
}




