<div class="modal-content animate" action="" method="post">
  <div class="logo-div">
    <img class="DivImg" src="assets\Pictures\Logo.png" alt="No Image" />
  </div>
  <div class="container">
    <!-- <button type="submit" style="margin-bottom:40px; font-weight: bold;"> <a [routerLink]="['/Login']" routerLinkActive='active' >כניסת תלמיד</a></button> -->
    <button
      [routerLink]="['/Home/Cycle']"
      routerLinkActive="active"
      type="submit"
      style="margin-bottom: 40px; font-weight: bold">
      כניסה והזנת נוכחות
    </button>
  </div>
  <div class="container" style="background-color: #f1f1f1; padding: 16px"></div>
</div>
<div id="mySidenav" class="sidenav">
  <a href="#" id="Manaager" [routerLink]="['/LoginManager']" routerLinkActive="active">לכניסת מנהל</a>
</div>
