<div class="modal-content animate" action="" method="post">
  <div class="logo-div">
      <img  class="DivImg" src="assets\Pictures\Logo.png" alt="No Image">
  </div>
<div class="container">
  <h1> {{student.name}}</h1>
  <h1>כיתה {{student.cycle}}-{{student.class_num}}</h1>
  <h1>הגעת בשעה {{student.time | date: "HH" }}:{{ student.time | date: "mm" }}</h1>
  <h3>!!!שיהיה לך יום מוצלח</h3>
  <br><br>
  <button [routerLink]="['/Home/Cycle']" routerLinkActive="active" type="submit" style="margin-bottom:40px; font-weight: bold;">אישור</button>
</div>
<div class="container" style="background-color:#f1f1f1; padding: 16px;">      
</div>